@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  overflow: hidden;
}

.reference {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.modal > div[role=dialog] > div:first-child {
  background-color: rgb(108, 108, 108);
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
}

.main-container {
  width: 100dvw;
  height: 100dvh;
  background: repeating-linear-gradient(-45deg, rgba(51, 45, 50, 0.3), rgba(51, 45, 50, 0.3) 5px, black 5px, black 70px);

  .controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    .controls-row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      background-color: rgb(128, 128, 128);
      border-radius: 15px;
      padding: 10px;
      -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
      -moz-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
      box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
      max-width: 340px;

      & > input {
        cursor: pointer;
      }
      input[type=color] {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 2px;
      }
      input[type=color]::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
      }
      input[type=color]::-webkit-color-swatch-wrapper {
        border: none;
        border-radius: 50%;
        padding: 0;
      }
      & > button {
        cursor: pointer;
      }
      & > * {
        margin: 0 !important;
        color: #ffffff;
      }
    }

    .color-palette {
      flex-wrap: wrap;

      & > button {
        width: 35px;
        height: 35px;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
        border: solid 2px;
      }
    }
  }

  .reference-small {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: rgb(128, 128, 128);
    border-radius: 15px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);

    img {
      width: 300px;
      height: 300px;
      cursor: pointer;
    }
  }

  @media (max-width: 1025px) {
    .reference-small {
      top: unset;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: calc(100dvw - 40px);
        height: unset;
      }
    }
  }

  .canvas-container {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    cursor: default;
    display: flex;

    canvas {
      border: none;
      cursor: default;
      margin: auto;
    }
  }
  .canvas-container:hover {
    cursor: default;
  }

  .online {
    color: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #8bd78c;
  }

  .bell {
    color: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #d7d68b;
    cursor: pointer;
    &:disabled {
      background-color: #9c9c9c;
    }
  }

  .unsubscribe {
    color: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    bottom: 70px;
    right: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: #d84c57;
    cursor: pointer;
    &:disabled {
      background-color: #9c9c9c;
    }
  }
}